---
import Layout from "../layouts/Base.astro";
---

<Layout
  title="Contribs | João Palmeiro"
  description="My open source contributions."
>
  <main>
    <h1>Open source contributions</h1>
  </main>
</Layout>
