---
import Layout from "../layouts/Base.astro";
import { shuffle } from "../utils";

const id = shuffle("JOÃO_PALMEIRO");
---

<Layout title="João Palmeiro" description="My personal website.">
  <header>
    <h1 lang="pt-PT">João Palmeiro</h1>

    <address>
      <a href="mailto:joaopalmeiro@proton.me">joaopalmeiro@proton.me</a>
    </address>
  </header>

  <main>
    <article>
      <h2>Experience</h2>

      <article>
        <header>
          <h3>Data Visualization Engineer at Feedzai</h3>
          <p>Since <time>TODO</time></p>
        </header>

        <section>
          <h4>Highlights</h4>
          <ul>
            <li>TODO</li>
          </ul>
        </section>
      </article>
    </article>
  </main>

  <footer>
    <section>
      <h2>More about me</h2>
      <ul>
        <li>
          <a href="https://www.linkedin.com/in/joaopalmeiro/" target="_blank"
            >LinkedIn (joaopalmeiro)</a
          >
        </li>
        <li>
          <a href="https://huggingface.co/joaompalmeiro" target="_blank"
            >Hugging Face (joaompalmeiro)</a
          >
        </li>
      </ul>
    </section>

    <p>{id}</p>
  </footer>
</Layout>
