---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />

    <title>João Palmeiro</title>
    <meta name="author" content="João Palmeiro" />
    <meta name="description" content="My personal website." />
  </head>
  <body>
    <main>
      <h1>João Palmeiro</h1>

      <address>
        <a href="mailto:joaopalmeiro@proton.me">joaopalmeiro@proton.me</a>
      </address>
    </main>
  </body>
</html>
