---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />

    <title>joao.town</title>
    <meta name="author" content="João Palmeiro" />
    <meta name="description" content="My personal website." />
  </head>
  <body>
    <main>
      <header>
        <h1>João Palmeiro</h1>
        <a target="_blank" href="https://en.pronouns.page/he">he/him</a>
        <p>
          Data Visualization Engineer at <a target="_blank" href="https://feedzai.com/">Feedzai</a>
        </p>
      </header>

      <section>
        <h2>Projects</h2>
      </section>
    </main>
  </body>
</html>
