---
import Layout from "../layouts/Base.astro";
---

<Layout title="João Palmeiro" description="My personal website.">
  <main>
    <h1>João Palmeiro</h1>

    <address>
      <a href="mailto:joaopalmeiro@proton.me">joaopalmeiro@proton.me</a>
    </address>
  </main>
</Layout>
